body{
    font-family: monospace;
    color:brown;
    text-align: center;
}
.container{
    margin: 40px auto 0;
    text-align: center;
    width: 70%;
    padding: 20px;
    border: 1px solid #333;
}
.title{
    display: block;
    line-height: 50px;
    height: 50px;
    font-size: 18px;
    background-color: purple;
    color: white;
    font-weight: bold;
}